@import "../../styles/global.scss";

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    background-color: $bg-gray;
    padding-top:20px;
    padding-bottom: 20px;
    @media (max-width:$break-point-s) {
        display: block;
    }
    .header_title{
        display: flex;
        align-items: flex-end;
        @media (max-width:$break-point-l) {
            display: block;
        }
        @media (max-width:$break-point-s) {
           margin-bottom: 20px;
           display: flex;
        }
        h2{
            color:$black;
            margin-right:10px;
            text-transform: capitalize;
        }
    }
    .search_input{
        width:350px;
        @media (max-width:$break-point-s) {
            width:100%;
         }
    }
}