@import '../../styles/global.scss';

._ {
    aside {
        @media (max-width:750px) {
            display: none;
        }
    }

    main {
        @extend %container;
        margin-left: 220px;
        margin-top: 90px;

        @media (max-width:750px) {
            margin-left: 0px;
        }
    }
}